* {
    box-sizing: border-box;
    margin: 0;
}

html {
    user-select: none;
    font-size: 50px;
}

[v-cloak] {
    display: none !important;
}

#app {
    width: 100%;
    height: 100vh;
}

header {
    text-align: center;
    height: 38vh;
    background: #00BBD2;
}

.main-describe {
    height: inherit;
    width: inherit;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main-weather-pic {
    width: 160px;
    height: 160px;
    border: 1px solid red;
}

.descbibe {
    display: flex;
    flex-direction: column;
    color: #fff;
}

.temperature {
    font-size: 1rem;
}

.weathernote {
    font-size: .3rem;
    text-transform: uppercase;
}

.items {
    position: relative;
    top: -3vh;
    height: 6vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.item {
    position: relative;
    width: 6vmax;
    height: 6vmax;
    line-height: 6vmax;
    border-radius: 50%;
    box-shadow: 0 0 20px #333;
    background-color: #07A4B5;
}

.item>.icon {
    position: absolute;
    top: -1vmax;
    right: -1vmax;
    width: 3vmax;
    height: 3vmax;
    border-radius: 50%;
    background-size: 2.4vmax;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fff;
}

.humidity {
    background-image: url('../images/water.svg');
}

.speed {
    background-image: url('../images/wind.svg');
}

.all {
    background-image: url('../images/clouds.svg');
}

.pressure {
    background-image: url('../images/pressure.svg');
}

.icon>img {
    position: absolute;
    top: 0;
    left: 0;
}

.note {
    display: block;
    text-align: center;
    color: #fff;
    height: inherit;
    line-height: inherit;
    font-size: .3rem;
}

.timeabout {
    width: 7vmax;
    height: 7vmax;
    background-color: #EEFF41;
}

.timeabout:hover {
    cursor: pointer;
}

.calendar {
    color: #743216;
    vertical-align: middle;
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../images/calendar.svg');
}

.clock {
    color: #743216;
    vertical-align: middle;
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../images/clock.svg');
}

.calendar>i {
    position: relative;
    top: .2rem;
}

.weather-items {}

.weather-items .weather-item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px dashed #F88A20;
    height: 8vh;
}

.weather-items .weather-item:last-child {
    border-bottom: 1px solid #fff;
}

.weather-item-details,
.weather-item-timeabout {
    text-transform: uppercase;
    font-size: .3rem;
}

.temp-high,
.temp-low {
    font-size: .2rem;
    color: #333;
}

.weather-item-desc {
    color: #233;
}


/*周小时*/

.week-title {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #EEFF41;
    font-size: .5rem;
    text-align: left;
    height: 6vh;
    box-shadow: 0 5px 10px #999;
}